extends layout

block content
  div.index
    div.index-container
      h1 我的前端攻略____Flex布局
    div.index-main
      div.main-div
        a(href='/flex_info',target='_blank',date-time='1s') Flex简介
      div.main-div
        a(href='/flex',target='_blank',date-time='1.5s') Flex解剖
      div.main-div
        a(href='/flex2',target='_blank',date-time='2s') Flex运用
    div.index-bm
      p(date-time='3s') 分享人：向家钰
    div.index-bm
      p(date-time='3s') 分享时间：2016/09/23